.home {
    color: #c8cfd6 !important;
    height: 100vh;
    background: #36393F !important;

    .footer {
        display: none;
    }

    .background {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: 50%;
    }
}

.docs-links h3:before {
    content: '■  ';
}

main h3 {
    padding-bottom: 12px;
    border-bottom: solid 5px #9f9f9f;
}

main h4 {
    padding-bottom: 8px;
    border-bottom: solid 2px #9f9f9f;
}

.navbar {
    margin-top: 0px !important;
}