{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">EEWPBot</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">EarthquakeEarlyWarningPlus (EEWP) はDiscord向けの地震速報Botです。</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://discord.com/api/oauth2/authorize?client_id=460323119651880960&permissions=26624&scope=bot" role="button">Botを導入する</a>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/introduction/" | relURL }}" role="button">ドキュメント</a>
      <img class="background" src="background.png">
    </div>
  </div>
</section>
{{ end }}
